<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ title or metadata.title }}</title>
	<meta name="description" content="{{ description or metadata.description }}">

	{% include "_includes/components/head-meta-tags.njk" %}

	{% include "_includes/components/head-css-tags.njk" %}
</head>
<body class="{{ bodyClass }}">

<header class="container">
	<nav class="d-flex flex-wrap align-items-center justify-content-between">
		<div class="col-xl col-12 pb-0 text-xl-left text-center">
			<a href="/" class="logo"><h1>{{ metadata.title }}</h1></a>
		</div><!-- end col -->

		<div class="col-xl col-12 pb-0 text-xl-right text-center">
			<a href="/" class="btn">Home</a>
			<a href="/work/" class="btn">Work</a>
			<a href="/contact/" class="btn">Contact</a>
		</div><!-- end col -->
	</nav><!-- end row -->
</header><!-- end container -->


<main>
	{{ content | safe }}
</main>


<footer class="text-center py-5">
	<div class="container">
		<p>Copyright © {% dateYear %} Axel Lurssen, all rights reserved.</p>
		<p>Built by <a href="https://www.brewhouse.digital?source=axeldesign" target="_blank" rel="noopener">Brewhouse Digital, LLC</a></p>
	</div><!-- end container -->
</footer>



{% include "_includes/components/footer-js-tags.njk" %}

</body>
</html>
